<div class="container">
  <h1>ToDo List</h1>
  <div class="jumbotron">
    <div (keydown.enter)="save()" class="form-group">
      <label for="exampleInputEmail1">Nueva tarea</label>
      <input type="text" [(ngModel)]="title" class="form-control mb-2" />
      <button type="button" (click)="save()" class="btn btn-success">
        Guardar
      </button>
    </div>
  </div>
  <div class="jumbotron mt-4">
    <app-task
      (meBorraron)="delete($event)"
      (meEditaron)="edit($event)"
      [task]="task"
      *ngFor="let task of tasks"
    ></app-task>
    <div *ngIf="tasks.length === 0">
      <h2>No hay tareas que mostrar ( ͡ᵔ ͜ʖ ͡ᵔ)</h2>
    </div>
  </div>
</div>
